@import url(reset.css);
:root{
    --main-color:#000;
    --body-bg:#fff;
    --body-decoration:#F9F9F9;
    --secondary-bg:#3F9AB7;
    --decoration-color:#F2994A;
    --root-font-size:16px;
    --font-family-main:'Nunito Sans', sans-serif;
    --secondary-font:'Roboto', sans-serif;
}
*{box-sizing: border-box;}
html{
    font-size: var(--root-font-size);
}
body{
    background-color: var(--body-bg);
    position: relative;
    padding-bottom: 2.8rem;
    font-family: var(--font-family-main);
}
body::after{
    content: "";
    display: block;
    width: 7.3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13%;
    background-color: var(--body-decoration);
    z-index: -1;
}
.container{
    width: 82%;
    margin: 0 auto;
}

/* header */
header{
    padding: 3.44rem 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo:hover{
    opacity: 0.8;
}
nav a{
    display: inline-block;
    position: relative;
    color: var(--main-color);
    text-decoration: none;
    margin-right: 2.9rem;
    font-size: 1.1875rem;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: 0.0625rem; 
}
nav a:last-child{
    margin-right: 0;
}
nav a::after{
    content: "";
    display: none;
    /* display: block; */
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 100%;
    background-color: var(--decoration-color);
    position: absolute;
    margin:0 50%;
    bottom: -16px;
}
nav a.active::after, 
nav a:hover::after{
    display: block;
}
.search-block>input{
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.425rem */
    letter-spacing: 0.0625rem;
    color: var(--main-color);
    border: none;
    padding-right: 2rem;
    background-image: url(../img/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.search-block>input:focus-visible{
    outline: none;
}
/* content */
.content{
    padding: 7rem 0 3rem;
}
.content .container{
    display: flex;
    justify-content: space-between;
}

.image-block{
    width: 35%;
}
.image-block img{
    width: 100%;
}
.text-conteiner{
    width: 50%;
}
/* text-block */

.text-block{
    padding-right: 15rem;
    border-right: 1px solid black;
    margin-bottom: 2rem;
}

.text-block h2{
    position: relative;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.8rem */
    letter-spacing: 0.0625rem; 
    color: var(--decoration-color);
    margin-bottom: 0.63rem;
}
.text-block h2::after{
    content: "+";
    position: absolute;
    right: 0;
    color: var(--secondary-bg);
}
.text-block h1{
    font-size: 4.0625rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 4.875rem */
    letter-spacing: 0.0625rem; 
    margin-bottom: 4.4rem;
}
.text-block p{
    padding-top: 1.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 1.8rem */
    letter-spacing: 0.0625rem; 
    font-family: var(--secondary-font);
    position: relative;
}
.text-block p::before{
    content: "";
    display: block;
    border-radius: 0.25rem;
    background: var(--decoration-color);
    width: 11.75rem;
    height: 0.375rem;  
    position: absolute;
    top: 0;
}

/* social */
.social{
    display: flex;
    justify-content: space-between;
}
.video{
    display: flex;
    align-items: center;
}
.video button{
    width: 5.3125rem;
    height: 5.3125rem;
    display: block;
    border: none;
    color: #fff;
    font-size: 1.62rem;
    background-color: var(--secondary-bg);
    border-radius: 100%;
    margin-right: 1.3rem;
}
.video span{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.35rem */
    letter-spacing: 0.0625rem;     
}
.social-link a{
    display: block;
    width: 2.125rem;
    height: 2.125rem; 
    font-size: 1rem;
    color: var(--main-color);
    text-decoration: none;
    background-color: transparent;
    border-radius: 100%;
    position: relative;
    text-align: center;
    right: -10px;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
}
.social-link a:hover{
    background-color: var(--decoration-color);
    color: white;
}

/* client */

.client{
    background-color: var(--secondary-bg);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-image{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.client-image>img{
    width: 100%;
}
.client-image:nth-child(2){
    left: -10px;
}
.client-image:nth-child(3){
    left: -20px;
}
.client-info{
    color: #fff;
}
.client-info strong{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700; 
}
.client-info span{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400; 
}


@media screen and (max-width:1200px) {
    header .container {
        flex-direction: column;
        row-gap: 3rem;
    }
    .text-block{
        padding-right: 3rem;
    }
}
@media screen and (max-width:900px) {
    .content .container {
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }
    .image-block {
        width: 70%;
    }
    .text-conteiner {
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    :root{
        --main-color:#fffafa;
        --body-bg:#232222;
        --body-decoration:#712d2d;
        --secondary-bg:#3F9AB7;
        --decoration-color:#F2994A;
        --root-font-size:12px;
        --font-family-main:'Nunito Sans', sans-serif;
        --secondary-font:'Roboto', sans-serif;
    }
    nav a{
        display: block;
        margin-bottom: 2rem;
        margin-right: 0;
    }
    .search-block{
        background-color: var(--body-decoration);
        border-radius: 1rem;
        padding: 0.4rem;
    }
    .search-block input{
        border-radius: 0.5rem;
    }
}
