:root{
    --maint-color:#000;
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 45px;
    margin: 0;
    color: var(--maint-color);
}
body::after{
    content: "";
    display: block;
    width: 20vw;
    position: absolute;
    left: 20%;
    top: 0;
    bottom: 0;
    background-color: bisque;
    z-index: -1;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.client{
    padding: 5rem;
    background-color: black;
}