*{
    box-sizing: border-box;
}
@keyframes simple {
    from{
        padding: 100px;
        background-color: blue;
        color:white;
    }
    to{
        padding: 200px;
        background-color: yellow;
        color:black;
    }
}
@keyframes pro{
    0%{
        left: 0px;
        top: 0;
        background-color: blue;
        border-radius: 0;
    }
    25%{
        left: 350px;
        top:0;
        background-color: rgb(242, 0, 255);
        border-radius: 0;
    }
    50%{
        left: 350px;
        top:350px;
        background-color: rgb(255, 0, 68);
        border-radius: 0;
    }
    75%{
        left: 150px;
        top:100px;
        background-color: rgb(255, 0, 0);
        border-radius: 0;
    }
    100%{
        left: 0px;
        top: 0;
        background-color: rgb(5, 5, 5);
        border-radius: 100%;
        text-align: center;
        color: white;
    }
}

.animation{
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 1;
    background-color: blue;
    /* animation-name: simple; */
    animation-name: pro;
    animation-duration: 2s;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;

}
.animation:nth-child(2){
    animation-delay: 10s;
    animation-direction:reverse;
}
@keyframes type {
    0%{
        top: 0;
        left: 0;
        background-color: gray;
    }
    100%{
        top: 0;
        left: 1200px;
        background-color: gold;
    }
    
}
.animation-type div{
    position: relative;
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: gray;
    animation-duration: 15s;
    animation-iteration-count:infinite;
    animation-name: type;
}
.liner{
    animation-timing-function: linear;
}
.ease{
    animation-timing-function: ease;

}
.ease-in{
    animation-timing-function: ease-in;

}
.ease-out{
    animation-timing-function: ease-out;

}
.ease-in-out{
    animation-timing-function: ease-in-out;

}
.custom{
    animation-timing-function: cubic-bezier(.64,.12,.86,.18);
}
.custom2{
    animation-timing-function: cubic-bezier(.15,.75,.35,.89);
}
.custom3{
    animation-timing-function: cubic-bezier(.23,1.51,.82,-0.53);
}
.short{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    margin-bottom: 100px;
    position: relative;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: type 30s ease 5s infinite reverse;
}