*{
    box-sizing: border-box;
}
// header{
//     background-color: yellow;
//     padding: 3rem;
// }
.container{
    margin: 0 auto;
    width: 80%;
}
// header .container{
//     display: flex;
// }
// nav a{
//     text-decoration: none;
// }
// nav a:hover{
//     color: black;
// }
$header-bg:rgb(255, 119, 0);
$link-hover-color:rgb(190, 5, 5);

:root{
    --header-bg:#{$header-bg};
    --link-hover-colo:#{$link-hover-color};
}

header{
    background-color: var(--header-bg);
    padding: 3rem;
    .container{
        display: flex;
        justify-content: space-between;
    }
}
nav{
    a{
        text-decoration: none;
        &:hover{
            color: var(--link-hover-colo);
            background-color: white;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}
@for $i from 1 through 10 {
    .user-img:nth-child(#{$i}) {
      left:($i + 10px);
    }
}
  
.btn{
    padding: 10px;
    text-align: center;
    &:hover{
        padding: 5px;
        border: 2px solid red;
    }
}
.red-btn{
    background-color: red;
    @extend .btn;
}
.green-btn{
    background-color: rgb(5, 126, 63);
    @extend .btn;
}

@media screen and (max-width: 800px) {
    :root{
        --header-bg:black;
        --link-hover-colo:yellow;
    }
}