.container{
    width: 50%;
    margin: 100px auto 10px auto;
}
button{
    padding: 20px 50px;
    text-align: center;
    background-color: black;
    border-color: black;
    color: white;
    transition: all 2s;
    /* transition-delay: 5s; */
    transition-timing-function: ease;
}
button:hover{
    background-color: yellow;
    border-color: blue;
    color: blue;
    /* rotate: -145deg; */
    /* scale: 0.8 0.8; */
    /* transform: rotateY(140deg); */
    /* transform: skew(10deg, -50deg); */
    transform: translate(50px, 150px);
}